.name{
    margin-left: -230px;
    margin-top: 10px;
}
.gender{
    margin-left: -330px;
    margin-top: 10px;
}
.passport
{
    margin-left: -330px;
    margin-top: 10px;
}
.number{
    margin-left: -160px;
    margin-top: 10px;
}
.country{
    margin-left: -330px;
    margin-top: 10px;
}
.state{
    margin-left: -230px;
    margin-top: 10px;
}
.city{
    margin-left: -230px;
    margin-top: 10px;
}
.email{
    margin-left: -230px;
    margin-top: 10px;
}
.address{
    margin-left: -200px;
    margin-top: 10px;
}
